extends layout

block content
    -data = data || {}

    if errors
        ul.my-errors
            for error in errors
                li= error.msg
    
    form(action="." method="POST" class="form-registration")
        label(for="operator") Operator:
        input(
            type="text"
            id="operator"
            name="operator"
            class="form-control"
            value=data.operator
        )

        label(for="phone") Nomor HP:
        input(
            type="text"
            id="phone"
            name="phone"
            class="form-control"
            value=data.phone
        )

        label(for="denom") Pulsa:
        input(
            type="text"
            id="denom"
            name="denom"
            class="form-control"
            value=data.denom
        )

        input(
            type="submit"
            value="Submit"
            class="btn btn-lg btn-primary btn-block"
        )

